h1,h3,p,a
{
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	color:#FFFFFF;
}

h1,h3,p
{
}

h1,h2
{
	text-align:center;
}

body
{
	background-color:#000000;
}

.navbar-link
{
	padding-left:12px;
}

.navbar
{
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	height:28px;
	background-color:#000000;
}

.body-center
{
	margin:auto;
	margin-top:30px;
}





.clearfix
{
	clear:both;
}

.floatright 
{
	margin:5px;
	float:right;
}

.floatleft
{
	float:left;
	clear:both;
}

#profile-picture
{
	margin-left: 20px;
}
