h1,h3,p,a,nobr
{
    font-family: 'Roboto', Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	color:#FFFFFF;
	text-align:justify;
}

h1
{
	text-align:center;
}

body
{
	background-color:#000000;
	background-repeat:no-repeat;
	z-index:0;
	text-align:center;
}

.navbar
{
	position:fixed;
	z-index:2;
	width:100%;
	top:0px;
	left:0px;
	height:28px;
	background-color:#000000;
}

.navbar-link,.navbar-current
{
	opacity:0.3;
	text-decoration:none;
	margin-left:20px;
}

.navbar-current
{
	opacity:1;
}

.body-center
{
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	padding-left:20px;
	padding-right:20px;
	max-width:40em;
}

#bg_canvas
{
	position:fixed;
	z-index:5;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
